body{
    margin: 0;
    background-color: #CFDAC8;
    color: white;
    font-family: 'Bitter', serif;
}
#main-section{
    display: flex;
    flex-direction: row;
}
.container{
    width: 50%;
    height: 100vh;

    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.box{
    display: flex;
    align-items: center;
    font-family: 'Bitter', serif;
    flex-direction: column;
    z-index: 1;
}
.container p{
    width: 80%;
    text-align: center;
}
.container h1{
    font-size: 90px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    user-select: none;
    margin-bottom: 0;
    width: 90%;
}
.container h2{
    margin-bottom: 60px;
    font-weight: bold;
}
.image-div{

    background-image: url("images/forest2.jpg ");
    opacity: 0.7;
    position: absolute;
    background-size: cover;
    height: 100vh;
    width: 50%;
}
button{
    background-color: #464F41;
    color: white;
    border: none;
    border-radius: 30px;
    height: 60px;
    width: 300px;
    margin-top: 30px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Bitter', serif;
    font-weight: bold;
}
.light{
    background-color: #CFDAC8;
    color: #464F41;
}
input{
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 30px;

    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 1rem;
    /*margin-bottom: 25px;*/
    /*margin-top: 5px;*/
}
label{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

button:hover{
    box-shadow: 0 0 10px 10px white ;
}
.left{
    background-color: black;
}
.right{
    /*background-color: #CFDAC8;*/
}
#message-box{
    /*height:60%;*/
    width: 70%;
    background-color: #464F41;
    display: block;

    padding: 40px 75px;
}
form{
    display: flex;
    width: 60%;


    flex-direction: column;
    margin: auto;
    align-items: center;
}
#message-box  h2{
    user-select: none;

}
.open{
    display: block;
}

.big-box{
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    justify-content: center;
    vertical-align: center;
    align-items: center;
    /*background-color: gray ;*/
    /*opacity: 0.9;*/

}
.gray-box{
    background-color: gray;
    opacity: 0.4
}

#dashboard-section{

    padding: 0  2rem ;
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
    box-sizing: border-box;



}
#bar{
    width: 100%;
    display: flex;
    box-sizing: border-box;
}
#big-container-dashboard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
}
.input-box{
    /*height: 50px;*/
    width: 100%;
    box-sizing: border-box;
    /*border-radius: 30px;*/
    /*padding: 10px 20px;*/
    border-radius:  5%;
    border: none;
    outline: none;
    font-size: 1rem;
    margin-bottom: 25px;
    /*margin-top: 5px;*/
    position: relative;

}
i{
    color: #464F41;
   float: right;
    right: 2%;
    position: absolute;
}
i:hover{
    color: #9fb199;
    cursor: pointer;
}
.list{
    box-sizing: border-box;
    height: 80vh;
    /*background-color: gray;*/
    /*margin-bottom: 2rem;*/
    /*border-radius: 8px;*/
    /*border: 2px solid #464F41;*/
    padding: 0.5rem 2rem;
    overflow-y: auto;
}
.list h2{
    user-select: none;
    border-bottom: black solid 2px;
    text-align: center;
}
.list-elements div{
    width: 48%;

}
.list-elements div h2{
    width: 95%;

}
.lists-container{
    width: 34%;
    border: 2px solid #464F41;
    color: #464F41;
    background-color: #e4eedf;
    position: relative;

}
.list-elements{
    width: 65%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;

}
.list-element{
    background-color: white;
    border: #464F41 solid 2px;
    height: 40px;
  padding: 2% 5%;
    margin-top: 5px;
    line-height: 40px;
    display: flex;
    justify-content: stretch;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.list-element i{
    line-height: 40px;
    /*font-size: larger;*/
}
h3{
    margin: 0;
    width: 80%;
}

#logout-button{
    /*position: absolute;*/
    /*right: 3rem;*/
    /*top: 3rem;*/
    /*margin: 0;*/
    margin-bottom: 2rem;
    position: relative;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /*#main-section{*/
    /*    flex-direction: column;*/
    /*}*/
    /*.container{*/
    /*    width: 100%;*/
    /*    height: 100vh;*/
    /*}*/
    /*.image-div{*/
    /*    width: 100%;*/
    /*    height: 100vh;*/
    /*}*/
    /*.right{*/
    /*    height: 50vh;*/
    /*}*/
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 800px) {
    #main-section{
        flex-direction: column;
    }
    .container{
        width: 100%;
        height: 100vh;
    }
    .image-div{
        width: 100%;
        height: 100vh;
    }
    .right{
        height: 50vh;
    }
    form{
        width: 100%;
    }
    .lists-container{
        width: 100%;

    }
    .list-elements{
        width: 100%;
    }
    #big-container-dashboard{
        flex-direction: column;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}